In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Sreya\handson\code\data\titanic_train.csv")

In [4]:
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.columns

Index(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked'],
      dtype='object')

In [8]:
gender_survival = df.groupby('sex')['survived'].sum()

In [9]:
gender_survival

sex
female    233
male      109
Name: survived, dtype: int64

In [10]:
pclass_survival = df.groupby('pclass')['survived'].sum()

In [11]:
pclass_survival

pclass
1    136
2     87
3    119
Name: survived, dtype: int64

In [13]:

survival_rate = pd.crosstab(index=[df['sex'], df['pclass']], columns=df['survived'], normalize='index') * 100
survival_rate.columns = ['Not survived (%)', 'survived (%)']
print(survival_rate)

               Not survived (%)  survived (%)
sex    pclass
female 1               3.191489     96.808511
       2               7.894737     92.105263
       3              50.000000     50.000000
male   1              63.114754     36.885246
       2              84.259259     15.740741
       3              86.455331     13.544669